<hr class="container mx-auto border-t border-white/30 my-16">
<!-- =======================================================
* Footer
======================================================== -->
<footer id="contact" class="bg-surface py-12 text-white/70 ">
    <div class="container mx-auto px-4">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">

            <!-- Columna 1: Logo y Descripción -->
            <div class="mb-4 md:mb-0">
                <p class="text-sm text-white">Soluciones tecnológicas a medida para impulsar negocios en la era
                    digital.</p>
            </div>

            <!-- Columna 2: Enlaces Rápidos -->
            <div>
                <h3 class="font-bold text-white mb-4 uppercase tracking-wider">Navegación</h3>
                <ul class="space-y-2">
                    <li><a href="/#start" class="hover:text-accent transition-colors">Inicio</a></li>
                    <li><a href="/#services" class="hover:text-accent transition-colors">Servicios</a></li>
                    <li><a href="/#process" class="hover:text-accent transition-colors">Nuestro Proceso</a></li>
                    <li><a href="/#portfolio" class="hover:text-accent transition-colors">Portafolio</a></li>

                </ul>
            </div>

            <!-- Columna 3: Contacto -->
            <div>
                <h3 class="font-bold text-white mb-4 uppercase tracking-wider">Contacto</h3>
                <ul class="space-y-2">
                    <li class="flex items-start hover:-translate-y-1 transition-all">
                        <i class="bi bi-whatsapp mr-2 mt-1 text-green-700"></i>
                        <a href="https://wa.me/573155756600" target="_blank"
                           class="hover:text-accent transition-colors">+57
                            315 575 6600</a>
                    </li>
                    <li class="flex items-start hover:-translate-y-1 transition-all">
                        <i class="bi bi-envelope mr-2 mt-1 text-blue-600"></i>
                        <a href="mailto:contacto@molink.com.co" target="_blank"
                           class="hover:text-accent transition-colors">contacto@molink.com.co</a>
                    </li>
                    <li class="flex items-start hover:-translate-y-1 transition-all">
                        <i class="bi bi-geo-alt mr-2 mt-1 text-red-800"></i>
                        <span>Cúcuta, Colombia</span>
                    </li>
                </ul>
            </div>

            <!-- Columna Redes Sociales -->
            <div>
                <h3 class="font-bold text-white mb-4 uppercase tracking-wider">Síguenos</h3>
                <div class="flex space-x-4">
                    <a href="https://www.linkedin.com/in/lfmg1993/" target="_blank" aria-label="LinkedIn"
                       class="text-2xl hover:-translate-y-1 transition-all"><i
                            class="bi bi-linkedin"></i></a>
                    <a href="https://github.com/LFMG1993" target="_blank" aria-label="GitHub"
                       class="text-2xl  hover:-translate-y-1 transition-all"><i
                            class="bi bi-github"></i></a>
                    <a href="https://www.instagram.com/_molink_?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
                       target="_blank" aria-label="Instagram"
                       class="text-2xl hover:-translate-y-1 transition-all"><i
                            class="bi bi-instagram"></i></a>
                </div>
            </div>

        </div>

        <div class="mt-12 pt-8 border-t border-white/10 text-sm flex flex-col md:flex-row justify-between items-center gap-4">
            <p class="text-center md:text-left">&copy; 2024 Molink Tecnología. Todos los derechos reservados.</p>
            <div class="flex space-x-4">
                <a href="/src/pages/privacity.html" class="hover:text-accent transition-colors">Política de Privacidad</a>
                <span class="text-white/30">|</span>
                <a href="/src/pages/termService.html" class="hover:text-accent transition-colors">Términos de Servicio</a>
            </div>
        </div>
    </div>
</footer>

<!-- =======================================================
* Elementos Auxiliares
======================================================== -->
<a href="#" id="scroll-top"
   class="fixed bottom-4 right-4 z-[9999] h-10 w-10 rounded bg-red-800 text-contrast flex items-center justify-center opacity-0 invisible transition-all duration-300 hover:bg-accent/80">
    <i class="bi bi-arrow-up-short text-2xl"></i>
</a>

<div id="preloader"
     class="fixed inset-0 z-[999999] bg-background flex items-center justify-center transition-opacity duration-500">
    <div class="h-16 w-16 animate-spin rounded-full border-4 border-solid border-accent border-t-transparent"></div>
</div>