@import "tailwindcss";

@layer base {
    a {
        @apply text-inherit no-underline;
    }
}

.title-underline {
    position: relative;
    display: inline-block;
    padding-bottom: 8px;
}

.title-underline::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: theme('colors.red-800');
}

/* roboto-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/roboto-v48-latin-regular.woff2') format('woff2');
}

/* roboto-500 - latin */
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../assets/fonts/roboto-v48-latin-500.woff2') format('woff2');
}

/* roboto-700 - latin */
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../assets/fonts/roboto-v48-latin-700.woff2') format('woff2');
}

/* poppins-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/poppins-v23-latin-regular.woff2') format('woff2');
}

/* poppins-500 - latin */
@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('../assets/fonts/poppins-v23-latin-500.woff2') format('woff2');
}

/* raleway-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/raleway-v36-latin-regular.woff2') format('woff2');
}

/* raleway-700 - latin */
@font-face {
    font-display: swap;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: url('../assets/fonts/raleway-v36-latin-700.woff2') format('woff2');
}

/* 3D Gallery Styles */
.gallery-frame {
    background-color: #0a0a0a; /* Un negro ligeramente más claro que el fondo */
    border: 0.3rem solid #1a1a1a;
    border-radius: 1rem;
    padding: 0.3rem;
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.7), 0 0 30px rgba(243, 5, 25, 0.3);
    position: relative;
}

.gallery-container {
    perspective: 1000px;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem; /* Para que el contenido no se salga del padding */
}

.gallery-wrapper {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.gallery-item {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery-media {
    width: 80%; /* Relativo al contenedor */
    height: auto;
    max-height: 95%; /* Relativo al contenedor */
    object-fit: cover;
    border-radius: 1rem;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.7);
}
